@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --primary-gold: #dda919;
  --primary-gold-light: hsl(43, 78%, 61%);
  --primary-dark: rgba(255,255,255, 0);
  --primary-bg-dark: #454140;
  --white: rgb(255,255,255);
}

.app{
  width: 100%;
}

.pages{
  width: 100%;
  position: relative;
  background-color: rgb(19,10,1);
  background-color: linear-gradient(90deg, rgba(19,10,1,1) 0%, rgba(107,68,10,1) 72%, rgba(108,108,108,1) 100%);  
}

.pages > * {
  width: 100%;
}

.gradient-bg {

    background:-moz-radial-gradient(circle at 100% 100%, rgba(98, 63, 3, 1) 1%, rgba(0, 0, 0, 1) 45%);

    background:-webkit-radial-gradient(circle at 100% 100%, rgba(98, 63, 3, 1) 1%, rgba(0, 0, 0, 1) 45%);

    background:-o-radial-gradient(circle at 100% 100%, rgba(98, 63, 3, 1) 1%, rgba(0, 0, 0, 1) 45%);

    background:-ms-radial-gradient(circle at 100% 100%, rgba(98, 63, 3, 1) 1%, rgba(0, 0, 0, 1) 45%);

    background:radial-gradient(circle at 100% 100%, rgba(98, 63, 3, 1) 1%, rgba(0, 0, 0, 1) 45%);

}

footer {
  font-size: 12px;
  color: lightslategray;
  text-align: center;
}


