@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-gold: #C99200;
  --primary-gold-light: hsl(43, 78%, 61%);
  --primary-dark: rgba(255,255,255, 0);
}

body {
  font-family: "Roboto" sans-serif;
}

/******************************** Navbar *****************/
.logo {
  width: 10rem;
  height: 10rem;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.04rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-gold) !important;
  border-top: 0.1rem solid  var(--primary-dark);
}

.navbar-band {
  max-width: 10rem;
  padding: 0 !important;
  height: 10rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
 /* border-top: 0.1875rem solid var(--primary-gold);*/
  font-weight: 600 !important;
  color: var(--primary-gold-light) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-gold);
}