.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
    color: black;
    transition: color 0.5s;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .title:focus {
    color: var(--primary-gold);
  }
  
  .title h1 {
    color: var(--primary-gold);
    text-transform: uppercase;
    font-weight: 800;  
    font-family: var(--font-family);
  }